<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServer</servlet-name>
        <servlet-class>controller.LoginServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServer</servlet-name>
        <servlet-class>controller.SignUpServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProjectServer</servlet-name>
        <servlet-class>controller.AddNewProjectServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectServer</servlet-name>
        <servlet-class>controller.DeleteProjectServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewQuestionServer</servlet-name>
        <servlet-class>controller.AddNewQuestionServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServer</servlet-name>
        <url-pattern>/SignUpServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProjectServer</servlet-name>
        <url-pattern>/AddNewProjectServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServer</servlet-name>
        <url-pattern>/LoginServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectServer</servlet-name>
        <url-pattern>/DeleteProjectServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewQuestionServer</servlet-name>
        <url-pattern>/AddNewQuestionServer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
